body {
	margin: 0;
	font-family:'Opens Sans', Sans-serif;
}

.site-body {
	width: 90%;
	margin: auto;
}

h1 {
	display: inline-block;
	padding: 25px 50px;
	margin-top: 10px;
	float: left;
	font-size: 20px;
	font-weight: 400;
	color: #333333;
	background-color: #66ffcc;
	text-transform: uppercase;
}

h2 { 
	font-size: 18px;
	text-transform: uppercase;
	color: #339966;
	font-weight: 300px;
	padding: 10px 10px 10px 0;
}

h3 {
	padding: 15px 0 15px 0;
	font-family: 'Raleway';
	color: #333333;
	font-size: 18px;
}

nav a {
	text-decoration:none;
	font-size: 15px;
	color: #333333;
	padding: 2% 4%;
	margin-top: 1%;
	float: right;
}

nav a:hover {
	background-color: #66ffcc;
}

#logo {
	width: 35%;
	float:left;
	clear: both;
	padding: 10% 5% 15% 5%;
}

#circle {
	width: 35%;
	float: right;
	padding: 10% 5% 15% 5%;
}

#green-logo {
	width: 10%;
	padding: 10% 4% 10% 0;
	clear: both;
	float: left;
}

#about-me {
	width: 35%;
	padding: 10% 0 10% 2%;
	text-align: justify;
	float: left;
}

#about-work {
	width: 35%;
	padding: 10% 2% 10% 0;
	text-align: justify;
	float: right;
}


p {
	font-family: 'Raleway';
	font-size: 15px;
	line-height: 30px;
}

a {
	text-decoration: none;
	color: #339966;
}

#contact {
	width: 40%;
	padding: 10% 0 10% 50%;
	float: right;
}


footer {
	font-size: 15px;
	color:#333333;
	text-align: center;
	border-top: 3px solid #66ffcc;
	padding: 2% 0 2% 0;
	margin: auto;
	clear: both;
}