body {
	margin: 0;
	font-family:'Opens Sans', Sans-serif;
}

.site-body {
	width: 90%;
	margin: auto;
}

h1 {
	display: inline-block;
	padding: 2% 4%;
	margin-top: 1%;
	float: left;
	font-size: 1.250em;
	font-weight: 300;
	color: #333333;
	background-color: #66ffcc;
	text-transform: uppercase;
}

h2 { 
	font-size: 1.125em;
	text-transform: uppercase;
	color: #339966;
	font-weight: 250;
	padding: 1% 1% 1% 0;
}

h3 {
	padding: 1.5% 0 1.5% 0;
	font-family: 'Raleway';
	color: #333333;
	font-size: 1.063em;
}

nav a {
	text-decoration:none;
	font-size: 0.938em;
	color: #333333;
	padding: 2% 4%;
	margin-top: 1%;
	float: right;
}

nav a:hover {
	background-color: #66ffcc;
}

#logo {
	width: 35%;
	float:left;
	clear: both;
	padding: 10% 5% 15% 5%;
}

#circle {
	width: 35%;
	float: right;
	padding: 10% 5% 15% 5%;
}

#green-logo {
	width: 10%;
	padding: 10% 4% 10% 0;
	clear: both;
	float: left;
}

#about-me {
	width: 35%;
	padding: 10% 0 10% 2%;
	text-align: justify;
	float: left;
}

#about-work {
	width: 35%;
	padding: 10% 2% 10% 0;
	text-align: justify;
	float: right;
}


p {
	font-family: 'Raleway';
	font-size: 0.938em;
	line-height: 200%;
}

a {
	text-decoration: none;
	color: #339966;
}

#contact {
	width: 40%;
	padding: 10% 0 10% 50%;
	float: right;
}


footer {
	font-size: 0.938em;
	color:#333333;
	text-align: center;
	border-top: 3px solid #66ffcc;
	padding: 2% 0 2% 0;
	margin: auto;
	clear: both;
}